{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock title %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">Bookmarks</span>
    <!--a `User` object in the `request.user` even if the user is not authenticated-->
    {% if request.user.is_authenticated %}
      <ul class="menu">
      <!--define a `section` variable to track the site's section that the user is browsing-->
      <!--check the current section to add a selected class-->
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url 'dashboard' %}">My dashboard</a>
        </li>
        <li {% if section == "images" %}class="selected"{% endif %}>
          <a href="#">Images</a>
        </li>
        <li {% if section == "people" %}class="selected"{% endif %}>
          <a href="#">People</a>
        </li>
      </ul>
    {% endif %}

    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }},
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Log-in</a>
      {% endif %}
    </span>
  </div>
<!--the messages framework applies globally to the project-->
<!--The messages framework includes the **context processor**, 
which adds a `messages` variable to the request context.-->
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- load the JS Cookie plugin from a public CDN -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<script>
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  }); 
  $(document).ready(function(){
    {% block domready %}
      // domready 代码块里面包含指定的 JS 代码, 在客户端执行
    {% endblock domready %}
  });
</script>
</body>
</html>
